<main>

  <section class="banner1">

    <div class="textBanner1">
      <h2>O cuidado começa com Você</h2>
      
      <p>Sua saúde em dia começa com um clique,  agende já sua consulta!</p>      
      
      <button mat-raised-button routerLink="/register">      
        Cadastre-se
      </button>
    </div>      

  </section>

  <section class="banner2">

  </section>


  <section class="banner3">

    <div class="textBanner3">

      <h2>
        ACESSO RÁPIDO
      </h2>

      <h3>
        Resolva tudo o que você  precisa com mais facilidade
      </h3>

      <p>
        Aqui você encontra os principais serviços. Para ver todos os disponíveis, acesse o Espaço do Cliente.
      </p>

    </div>

  </section>

</main>
