<div class="menu">
  <div class="menu-user">
    <p>Bem-vindo, Yago Lima</p>
  </div>
  <div class="menu-container">
    <div class="menu-item">
      <img src="../../../../../assets/img/IconCalendario.png" alt="Agendamento" class="menu-icon"/>
      <span class="menu-text">Agendamento</span>
    </div>
    <div class="menu-item">
      <img src="../../../../../assets/img/IconHistorico.png" alt="Histórico de Consultas" class="menu-icon"/>
      <div class="menu-text">
        <span>Histórico de Consultas</span>

      </div>
      <div class="menu-text">
        <span>Lista de paciêntes atendidos</span>

      </div>
    
    </div>
    
  </div>
  
  <div class="menu-user">
    <p>Suas próximas consultas agendadas +</p>
  </div>
  
</div>
