<div class="menu">
  <div class="menu-user">
    <p>Bem-vindo!</p>
  </div>
  <div class="menu-container">
    <div class="menu-item" (click)="onAgendamento()">
      <img
        src="../../../../../assets/img/IconCalendario.png"
        alt="Agendamento"
        class="menu-icon"
      />
      <span class="menu-text">Agendamento</span>
    </div>
    <div class="menu-item" (click)="onHistory()">
      <img
        src="../../../../../assets/img/IconHistorico.png"
        alt="Histórico de Consultas"
        class="menu-icon"
      />
      <div class="menu-text">
        <span *ngIf="userRole === 'USER'">Histórico de Consultas</span>
        <span *ngIf="userRole === 'ADMIN'">Lista de pacientes atendidos</span>
      </div>
    </div>
  </div>

  <div class="menu-user">
    <p>Suas próximas consultas agendadas +</p>
  </div>
</div>
