<app-header-adm></app-header-adm>

<main>

  <section class="history">
    <div class="navHistory">
      <div class="text">
        <img src="../../../../../assets/img/VectorHistoryComponent.svg" alt="history">
      
        <h2>Lista de paciêntes atendidos</h2>  
      </div>          
      
      <button mat-raised-button class="addFilter" (click)="filterByDate()"> 
        Data        
        <img src="../../../../../assets/img/VectorDataComponent.svg" alt="Date">        
      </button>  
    </div>

    <div *ngIf="isLoading" class="loading-indicator">
      Carregando histórico...
    </div>
    
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    
    <div class="containerTag" *ngIf="!isLoading && !errorMessage">
      <div class="rowTag" *ngFor="let card of cardsAdm">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-content class="alinhar">
              <mat-card-title class="header-title">Consulta Realizada</mat-card-title>
              <mat-card-subtitle class="header-subtitle">Dr(a). {{ card.doctor }}</mat-card-subtitle>
            </mat-card-content>
            <span class="spacer"></span>
            <mat-card-content class="body-content">
              <mat-card-subtitle class="patient-info">Hospital Ponta Negra</mat-card-subtitle>
              <mat-card-subtitle class="hospital-address">Av. Ayrton Senna, 34 - Capim Macio</mat-card-subtitle>
            </mat-card-content>
          </mat-card-header>
          <mat-card-footer class="footer-content">
            <p class="date">Data: {{ card.date | date }}</p>
            <p class="time">Hora: {{ card.time }}</p>
            <p><strong>Status:</strong>{{ card.status === 'CANCELED' ? 'Cancelado' : card.status === 'DONE' ? 'Concluído' : card.status }}</p>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
    
  </section>

</main>

<app-footer></app-footer>