<app-header></app-header>

<main>

  <section class="history">
    <div class="navHistory">
      <img src="../../../../../assets/img/VectorHistoryComponent.svg" alt="history">
      
      <h2>Lista de paciêntes atendidos</h2>

      <span class="spacer"></span>
      
      <button mat-raised-button class="addFilter">
        Data
        <img src="../../../../../assets/img/VectorDataComponent.svg" alt="Date">        
      </button>    
    </div>

    <div class="tagHistory">

    </div>
  </section>

</main>

<app-footer></app-footer>