main{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 90vh;

  background-color: #cecece;  
}

.history{
  min-height: 90%;
  min-width: 90%;
  border-radius: 10px;

  background-color: #fff;
}

.navHistory{
  display: flex;
  align-items: center;

  padding: 72px 0 0 72px;
  gap: 24px;
}

.navHistory h2{
  margin-top: 5px;
  font-size: 1.5rem;
}

.history .navHistory button{
  display: flex;

  font-size: 1.5rem;
  color: #333;

  padding: 30px;
  border-radius: 50px;
  width: 300px;
}

.history .navHistory button img{
  margin-left: 150px;
  color: #333;
}

