header {
  background-color: #029743;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 30rem;
  box-shadow: 0px 5px 10px 0px #848484a6;
}

.image{
  width: 5rem;
  padding: 0 24px;
}