<app-header></app-header>
<main class="container">
  <!-- Navegação -->
  <nav class="navigation">
    <button class="nav-button active">
      <img class="schedules-img" src="../../../../../assets/img/calendar.svg" alt="Agendamento ícone" />
      Agendamento de Pacientes
    </button>
    <button class="nav-button">
      <img class="schedules-img" src="../../../../../assets/img/register.svg" alt="Cadastrar Médico ícone" />
      Cadastrar Médico
    </button>
  </nav>

  <div class="content">
  <!-- Lista de agendamentos -->
    <section class="appointments">
      <h2>Consultas Agendadas</h2>
      <div class="appointments-list">
        <div *ngFor="let appointment of appointments | async">
          <div class="appointment-card" *ngIf="appointment.status === 'SCHEDULED'">
            <div class="info" id="specialist">
              <h3 class="expertise"> <strong>{{ appointment.specialty }}: <br>{{ appointment.doctor }} </strong></h3>
              <p class="specialist-name"></p>
              <p class="patient-name"> {{ appointment.obs }}</p>
              <p class="exame" id="date">{{ appointment.date | date }}</p>
              <p class="exame" id="hour">{{ appointment.time }}</p>
            </div>
            <div class="info">
              <p><strong>Hospital Ponta Negra</strong></p>
              <p>Av. Ayrton Senna, 34 - Capim Macio</p>
              <div class="buttons">
                <button class="reschedule-btn" (click)="markAsDone(appointment.id)">Concluído</button>
                <button class="cancel-btn" (click)="deleteAppointment(appointment)">Excluir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="schedule-form">
      <h2>Marque sua consulta</h2>
      <p>Hospital Ponta Negra</p>

      <form [formGroup]="scheduleForm" (ngSubmit)="submitForm()">
        <div class="container-form">
          <!-- Data e Especialidade -->
          <div class="container-row">
            <div class="container-input">
              <label for="date">Data:</label>
              <input type="date" id="date" formControlName="date" required />
              <span *ngIf="scheduleForm.get('date')?.hasError('pastDate')" class="error-message">
                <p>A data não pode ser no passado.</p>
              </span>
            </div>
            <div class="container-input">
              <label for="specialty">Especialidade:</label>
              <input type="text" id="specialty" formControlName="specialty" required />
              <span *ngIf="scheduleForm.get('specialty')?.invalid && scheduleForm.get('specialty')?.touched" class="error-message">
                <p>Este campo é obrigatório.</p>
              </span>
            </div>
          </div>

          <div class="container-row">
            <!-- Campo de Médico -->
            <div class="container-input">
              <label for="doctor">Médico(a):</label>
              <input type="text" id="doctor" formControlName="doctor" required />
              <span *ngIf="scheduleForm.get('doctor')?.hasError('required') && scheduleForm.get('doctor')?.touched" class="error-message">
                <p>Este campo é obrigatório.</p>
              </span>
            </div>

            <!-- Busca de Pacientes -->
            <div class="form-group">
              <label for="patient">Selecionar Paciente:</label>
              <select id="patient" class="form-control" formControlName="patient">
                <option *ngFor="let patient of filteredPatients" [value]="patient.id">
                  {{ patient.name }}
                </option>
              </select>
              <span *ngIf="scheduleForm.get('patient')?.invalid && scheduleForm.get('patient')?.touched" class="error-message">
                <p>Selecione um paciente.</p>
              </span>
            </div>
          </div>

          <!-- Observações -->
          <div class="container-input-field">
            <label for="obs">Observação:</label>
            <input type="text" id="obs" formControlName="obs" class="description-field" required />
            <span *ngIf="scheduleForm.get('obs')?.invalid && scheduleForm.get('obs')?.touched" class="error-message">
              <p>Este campo é obrigatório.</p>
            </span>
          </div>
        </div>

        <!-- Validações no campo de horário -->
        <div class="times">
          <p><strong>Horários</strong></p>
          <select class="times" formControlName="time">
            <option value="" selected disabled>Selecione um horário</option>
            <option value="08:00">08:00</option>
            <option value="08:30">08:30</option>
            <option value="09:00">09:00</option>
            <option value="09:30">09:30</option>
            <option value="10:00">10:00</option>
            <option value="10:30">10:30</option>
            <option value="11:00">11:00</option>
            <option value="11:30">11:30</option>
            <option value="12:00">12:00</option>
            <option value="12:30">12:30</option>
            <option value="13:00">13:00</option>
            <option value="13:30">13:30</option>
            <option value="14:00">14:00</option>
            <option value="14:30">14:30</option>
            <option value="15:00">15:00</option>
            <option value="15:30">15:30</option>
            <option value="16:00">16:00</option>
            <option value="16:30">16:30</option>
            <option value="17:00">17:00</option>
          </select>
          <span *ngIf="scheduleForm.get('time')?.hasError('required') && scheduleForm.get('time')?.touched" class="error-message">
            <p>O horário é obrigatório.</p>
          </span>
        </div>  

        <!-- Botão de envio -->
        <button class="reschedule-btn" type="submit" [disabled]="scheduleForm.invalid">Agendar</button>
      </form>
    </section>
  </div>
</main>

<app-footer></app-footer>
